#menu{
    width: 600px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    background-color: rgb(255, 179, 141);
    a{
        margin: 45px;
    }
}
#lateral{
    float: left;
    width: 150px;
    height: 120px;
    padding-top: 0.5px;
    padding-left: 10px;
    text-align: justify;
    font-weight: bold;
    line-height: 0.5;
    background-color: rgb(252, 188, 199);
}
#taula{
    width: 480px;
    float: left;
    vertical-align: middle;
}
#bloc{
    width: 440px;
    height: 20px;
    text-align: center;
    padding-top: 0.5px;
    background-color: rgb(162, 154, 150);
}
.capçalera{
    text-align: center;
    background-color: rgb(162, 154, 150);
}
.img{
    padding-top: 15px;
}

.img a:hover{
    opacity: 0.7;
}
#form{
    width: 578px;
    height: 170px;
    vertical-align:bottom;
    margin-top: 515px;
    padding: 10px;
    background-color: rgb(255, 179, 141);
}
h1{
    font-size: medium;
    margin: 0;
}
table{
    border-collapse:separate;
    border-spacing: 3.99px;
}
th{
    background-color: rgb(162, 154, 150);
    color: black;
    text-align: center;
    padding-left: 9.5px;
    padding-right: 9.5px;
}
.champions{
    text-align: justify;
    background-color: rgb(255, 243, 184);
    color: brown;
}
.uefa{
    text-align: justify;
    background-color: rgb(180, 255, 253);
    color: rgb(102, 81, 218);
}
.conference1{
    text-align: justify;
    background-color: rgb(189, 255, 185);
    color: rgb(23, 77, 18);
}
.conference2{
    text-align: justify;
    color: rgb(27, 77, 24);
    background-color: rgb(92, 159, 86);
}
.descens{
    text-align: justify;
    background-color: rgb(237, 255, 118);
    color: rgb(77, 18, 18);
}